.hero-component {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 30px;
  margin-top: 40px;
  /* box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17); */
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
}
.hero-component .card-item-img {
  height: 439px;
  width: 613px;
  left: 614px;
  top: 192px;
  border-radius: 30px;

  object-fit: cover;
  transition: all 0.2s linear;
}
.hero-component .card-item-img:hover {
  transform: scale(1.1);
}
.hero-component .card-item-info {
  padding: 10px 30px;
  position: relative;
}
.hero-component .card-item-text {
  position: relative;
  font-family: Kameron;
  font-size: 40px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 20px;
}
.hero-component .card-item-link {
  display: flex;
  justify-content: center;
  text-decoration-line: none;
}
.hero-component .btn {
  color: #fff;
}
/* ---------------/HERO COMPONENT---------------------- */
.cards {
  position: relative;
  padding: 20px 2rem;
  margin-bottom: 2rem;
  /* background: #fff; */
}
.cards-container .cards-title {
  position: absolute;
  top: 25px;
  left: 2.5rem;
}
.cards-items {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 15.1rem);
  /* white-space: nowrap; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 50px 0;
  justify-content: center;
  align-content: center;
  row-gap: 50px;
}
.cards-item {
  height: 23.938rem;
  /* background-color: rgb(99, 128, 102); */
  background-color: #fff;
  list-style: none;
  border-radius: 30px;
  position: relative;
  /* display: inline-block;
  transform: all 0.3s linear; */

  /* object-fit: cover; AICI CE DRQ PUN CA SA FAC TRANSUTUA */
  /* transition: all 0.3s linear; */
}
/* .card-item:hover {
  transform: scale(1.1);
} */
.cards-item .card-item-img {
  width: 315px;
  /* position: absolute; */
  height: 167px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  /* display: inline; */
}
.cards-item .card-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  /*   
  object-fit: cover;
  transition: all 0.2s linear; */
}
.cards-item .card-image::before {
  /* content: attr(data-category); */
  content: "Data";
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-right-radius: 10px;

  padding: 6px 8px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  /* box-sizing: border-box; */
}

.cards-item .card-item-info {
  margin-bottom: 5px;
  /* height: 100px; */
  /* position: relative; */
}
.cards-item .card-item-titlu {
  /* position: relative; */
  color: rgb(35, 26, 26);
  font-family: Kameron;
  font-size: 40px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  /* padding-bottom: 20px; */
  /* overflow: hidden; */
  /* word-wrap: break-word; */
}
.card-item-link {
  display: flex;
  justify-content: center;
  text-decoration-line: none;
}
.card-item-link-noutati {
  /* display: flex;
  justify-content: center; */
  text-decoration-line: none;
}
/* ---------------/Noutati---------------------- */

.noutati-text {
  font-family: "Kameron";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  text-align: center;

  color: #000000;
}
.ultimul-si-urmatorul-meci {
  margin-top: 50px;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  gap: 30px;
  margin-bottom: 2.5rem;
  position: relative;
}
.ultimul-si-urmatorul-meci img {
  width: 494px;
  height: 626px;
  box-shadow: 0px 64px 64px -32px rgba(41, 15, 0, 0.56);
  filter: drop-shadow(0px 4px 160px rgba(0, 0, 0, 0.25));
  border-radius: 28px;
}

.content {
  width: 494px;
  height: 626px;
  position: absolute;
  top: 0;
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 80px 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 156%;
  z-index: 0;
  letter-spacing: 0.01em;

  color: #f9f9ff;
}
/* -------------------------------------------- */
.intalneste-echipa-title {
  font-family: "Kameron";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;

  text-align: center;
  text-transform: capitalize;

  color: #ffffff;

  text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
}
.echipa-container {
  display: grid;
  grid-template-columns: repeat(2, 15.1rem);
  justify-content: center;
  align-content: center;
  gap: 6.625rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 40px 0;
}
.echipa {
  background-color: #fff;
  list-style: none;
  border-radius: 30px;
  position: relative;
  width: 237px;
  height: 353px;
  padding-top: 10px;
}

.echipa .card-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.echipa .card-item-text {
  position: relative;
  color: #5f6b7a;
  padding-top: 18px;
  margin-bottom: 33px;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 27px;

  text-align: center;
  padding-bottom: 20px;
}
