* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #21325c;
  /* color: #fff; */
  font-family: Georgia, serif;
  /* position: relative; */
}
/* ------HOME PAGE------------- */
h1 {
  /* GLOBAL */
  text-align: center;
}
/* .prezentare {
  position: absolute;
  border: solid 1px red;
  height: 400px;
  width: 300px;
  left: 250px;
  right: 250px;
  top: 200px;
}
.prezentare img {
  width: 200px;
  height: auto;
} */

/* .home-main {
  border: 1px solid green;
} */
.btn {
  /* position: absolute; */
  height: 65px;
  width: 183px;
  /* left: 327px;
  top: 437px; */
  cursor: pointer;
  border-radius: 50px;
  background: #5a7089;
  color: #fff;
}
